@import url(../Components/Alerts/alerts.css);
@import url(../Components/Buttons/buttons.css);
@import url(../Components/Cards/);
@import url(../Components/image/image.css);
@import url(../Components/Input/input.css);
@import url(../Components/Snackbar/snackbar.css);
@import url(../css/landing.css);
@import url(../styles/nord.min.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content-heading{
    border-bottom: 1px solid #d9d9d9;
    padding: 1rem;
    font-weight: 700;
    
}



.side-bar{
    display: flex;
    flex-direction: column;
    width: max-content;
    padding-left: 4rem;
    cursor: pointer;
}

.item-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 1rem;
    color: var(--text-color-light);
    font-size: 13px;
    
}
