<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/intro.css" />
    <link rel="stylesheet" href="/styles/nord.min.css" />
    <link rel="stylesheet" href="/Components/image/image.html" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image</title>
  </head>
  <body>
    <!-- NAV -->

    <nav class="nav">
      <div class="left-nav">
        <a href="/index.html">Endless</a>
        <span>v1.0</span>
      </div>
      <div class="right-nav">
        <a href="/Get Started/intro.html">Docs</a>
        <a href="/Components/Avatar/avatar.html">Examples</a>
      </div>
    </nav>

    <!-- Side Bar -->

    <div class="doc-content">
      <div class="side-bar">
        <div class="content-heading">
            <p>Get started</p>
        </div>
        <div class="sub-content">
            <ul class="item-list    ">
                <li><a href="/Get Started/intro.html">Introduction</a></li>
                <li><a href="/Get Started/typography.html">Typography</a></li>
            </ul>
        </div>
        <div class="content-heading">
            <p><b>Components</b></p>
        </div>
        <div class="sub-content">
            <ul class="item-list">
              <li> <a href="/Components/Avatar/avatar.html"> Avatar</a></li>
              <li><a href="/Components/Badges/badges.html">Badges</a></li>
              <li><a href="/Components/Alerts/alerts.html">Alerts</a></li>
              <li><a href="/Components/Buttons/buttons.html">Buttons</a></li>
              <li><a href="/Components/Cards/cards.html">Cards</a></li>
              <li><a href="/Components/image/image.html">Images</a></li>
              <li><a href="/Components/Input/input.html">Input</a></li>
              <li><a href="/Components/List/lists.html">List</a></li>
              <li><a href="/Components/Ratings/ratings.html">Ratings</a></li>
              <li><a href="/Components/Snackbar/snackbar.html">Snackbar</a></li>
              <li><a href="/Components/Chips/chips.html">Chips</a></li>
              <li><a href="/Components/Grid//grid.html">Grid</a></li>
              <li><a href="/Components/modal/modal.html">Modal</a></li>
              <li><a href="/Components/Nav/nav.html">Navigation</a></li>
            </ul>
        </div>
    </div>
      <div class="content-bar">
        <div class="content-title">Images</div>
        <div class="content-subtitle border_to_content">
          Images can improve the design and the appearance of a web page. We are
          going to cover Responsive & Rounded Images in this Component Library
        </div>
        <div class="content-title">Responsive Images</div>
        <div class="content-subtitle border_to_content">
          Responsive images will automatically adjust to fit the size of the
          screen. Resize the browser window to see the responsive effect:
        </div>
        <pre>
          <code class="plaintext">
            &lt;img src="https://picsum.photos/500" class="responsive" /&gt;
          </code>
        </pre>
        <div class="content-example padding">
          <img src="https://picsum.photos/500" class="responsive" />
        </div>

        <div class="content-title">Round Images</div>
        <div class="content-subtitle border_to_content">
          Round Images are the circular images with both width & height as 150px
        </div>
        <pre>
          <code class="plaintext">
            &lt;img src="/Images/round_images.jpg" class="round-image" /&gt;
            &lt;img src="/Images/round_images_2.jpg" class="round-image" /&gt;
          </code>
        </pre>

        <div class="content-example padding">
          <img src="/Images/round_images.jpg" class="round-image" />
          <img src="/Images/round_images_2.jpg" class="round-image" />
        </div>
      </div>
    </div>
  </body>
  <script src="/highlight.js"></script>
  <script>
    hljs.highlightAll();
  </script>
</html>
