.badges {
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
  width: max-content;
}

.badges.flex_column {
  flex-direction: row;
  gap: 2.5rem;
}
.badge_type {
  position: relative;
}
.badge_number {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.badge_number.type1 {
  left: 8.5rem;
  top: -1rem;
  width: 1.875rem;
  height: 1.875rem;
}

.badge_number.type2 {
  left: 11rem;
  top: -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.badge_number.type3 {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #ff4081;
  top: -15px;
  left: 2rem;
}

.badge_number.type4 {
  width: 30px;
  height: 30px;
  background-color: #ff4081;
  top: -11px;
  left: 2rem;
}

.badge_number.type5 {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #ff4081;
  top: -11px;
  left: 2rem;
}

.badge_number.available {
  background-color: var(--success-green);
  width: 0.938rem;
  height: 0.938rem;
  border: 2px solid white;
  top: 2.625rem;
  left: 2.188rem;
}

.badge_number.offline {
  background-color: gray;
  width: 0.938rem;
  height: 0.938rem;
  border: 2px solid white;
  top: 2.625rem;
  left: 2.188rem;
}

.badge_number.busy {
  background-color: var(--alert-danger);
  width: 0.938rem;
  height: 0.938rem;
  border: 2px solid white;
  top: 2.625rem;
  left: 2.188rem;
}
