<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/Components/Avatar/avatar.css" />
    <link rel="stylesheet" href="/Components/Badges/badges.css" />
    <link rel="stylesheet" href="/css/intro.css" />
    <link rel="stylesheet" href="/styles/nord.min.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badges</title>
  </head>
  <body>
    <nav class="nav">
      <div class="left-nav">
        <a href="/index.html">Endless</a>
        <span>v1.0</span>
      </div>
      <div class="right-nav">
        <a href="/Get Started/intro.html">Docs</a>
        <a href="/Components/Avatar/avatar.html">Examples</a>
      </div>
    </nav>
    <div class="doc-content">
      <div class="side-bar">
        <div class="content-heading">
          <p>Get started</p>
        </div>
        <div class="sub-content">
          <ul class="item-list">
            <li><a href="/Get Started/intro.html">Introduction</a></li>
            <li><a href="/Get Started/typography.html">Typography</a></li>
          </ul>
        </div>
        <div class="content-heading">
          <p><b>Components</b></p>
        </div>
        <div class="sub-content">
          <ul class="item-list">
            <li><a href="/Components/Avatar/avatar.html"> Avatar</a></li>
            <li><a href="/Components/Badges/badges.html">Badges</a></li>
            <li><a href="/Components/Alerts/alerts.html">Alerts</a></li>
            <li><a href="/Components/Buttons/buttons.html">Buttons</a></li>
            <li><a href="/Components/Cards/cards.html">Cards</a></li>
            <li><a href="/Components/image/image.html">Images</a></li>
            <li><a href="/Components/Input/input.html">Input</a></li>
            <li><a href="/Components/List/lists.html">List</a></li>
            <li><a href="/Components/Ratings/ratings.html">Ratings</a></li>
            <li><a href="/Components/Snackbar/snackbar.html">Snackbar</a></li>
            <li><a href="/Components/Chips/chips.html">Chips</a></li>
            <li><a href="/Components/Grid//grid.html">Grid</a></li>
            <li><a href="/Components/modal/modal.html">Modal</a></li>
            <li><a href="/Components/Nav/nav.html">Navigation</a></li>
          </ul>
        </div>
      </div>
      <div class="content-bar">
        <div class="content-title">Badges</div>
        <div class="content-subtitle">
          Badges are small circles, positioned either at top-right, top-left or
          bottom-right of the parent component. Badge can be used to display
          numbers, online / offline status, depending on where they are used.
        </div>
        <div class="content-title">Text with a Badge</div>
        <div class="content-subtitle"></div>
        <div class="content-example">
          <div class="badges">
            <div class="badge_type">
              <p>Text with a badge</p>
              <span class="badge_number type1">2</span>
            </div>

            <div class="badge_type">
              <p>Text with a large badge</p>
              <div class="badge_number type2">
                <span>2</span>
              </div>
            </div>
          </div>
        </div>
        <pre>
          <code class="plaintext">
      <-- Text with a badge -->
  
      &lt;div class="badge_type" &gt &lt;p&gt;Text with a badge &lt;/p&gt;
      &lt;span class="badge_number type1"&gt; 2 &lt;/span&gt; /&gt;
  
      <-- Text with a large badge -->
  
      &lt;div class="badge_type" &gt &lt;p&gt;Text with a large badge &lt;/p&gt; 
      &lt;span class="badge_number type2"&gt; 2 &lt;/span&gt; /&gt;
          </code>
        </pre>
        <div class="content-title">Badge on Icons</div>
        <div class="content-subtitle">
          You can apply badges on icons as well. Just add the below script tag
          to get the font awesome fonts.
        </div>
        <div class="content-example">
          <div class="badges flex_column">
            <div class="badge_type">
              <i class="fas fa-home fa-3x"></i>
              <span class="badge_number type3">3</span>
            </div>

            <div class="badge_type">
              <i class="fas fa-envelope fa-3x"></i>
              <span class="badge_number type4">3</span>
            </div>
            <div class="badge_type">
              <i class="fas fa-comment-alt fa-3x"></i>
              <span class="badge_number type5">3</span>
            </div>
          </div>
        </div>
        <pre>
          <code class="plaintext">
      <-- Insert the following in your script to get font-awesome fonts  -->
  
       &lt;script src="https://kit.fontawesome.com/fbbd0ff1df.js" crossorigin="anonymous" &gt;&lt;/script&gt; 
  
      <-- Badge on Icons 1 -->
  
      &lt;div class="badge_type" &gt; &lt;i class="fas fa-home fa-3x"&gt; &lt;/i&gt;
      &lt;span class="badge_number type3"&gt; 3 &lt;/span&gt; &lt;/div&gt;
  
      <-- Text on Icons 2 -->
  
      &lt;div class="badge_type" &gt; &lt;i class="fas fa-envelope fa-3x"&gt; &lt;/i&gt;
      &lt;span class="badge_number type4"&gt; 3 &lt;/span&gt; &lt;/div&gt;
          </code>
        </pre>
        <div class="content-title">Badge on Avatars</div>
        <div class="content-subtitle">
          Badges on avatars can be used to show the current status of a user.
          For example we have three class variants : available | offline | busy.
          Below is the example of available class, to access other status,
          replace it with the desired status.
        </div>
        <div class="content-example">
          <div class="badges flex_column">
            <div class="badge_type">
              <img class="avatar lg" src="/Images/avatar.png" alt="Avatar" />
              <span class="badge_number available"> </span>
            </div>

            <div class="badge_type">
              <img
                class="avatar lg"
                src="/Images/avatar_female.png"
                alt="Avatar"
              />
              <span class="badge_number offline"></span>
            </div>

            <div class="badge_type">
              <img class="avatar lg" src="/Images/avatar3.png" alt="Avatar" />
              <span class="badge_number busy"></span>
            </div>
          </div>
        </div>
        <pre>
          <code class="plaintext">
            &lt;div class="badge_type" &gt; &lt;img class="avatar lg" src="attach desired image"&gt; 
            &lt;span class="badge_number available"&gt; 3 &lt;/span&gt; &lt;/div&gt;
          </code>
        </pre>
      </div>
    </div>
  </body>

  <script src="/highlight.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <script
    src="https://kit.fontawesome.com/fbbd0ff1df.js"
    crossorigin="anonymous"
  ></script>
</html>
