.grid {
  display: grid;
  gap: 1rem;
  width: 50rem;
  height: 5rem;
}

.grid_w_two-items {
  grid-template-areas: "ItemOne ItemTwo";
}

.grid_w_three-items{
    grid-template-areas: "ItemOne ItemTwo ItemThree";
}

.item_one,
.item_two, .item_three {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.item_one {
  background-color: var(--primary-color);
  grid-area: ItemOne;
}

.item_two {
  background-color: var(--secondary-color);
  grid-area: ItemTwo;
}
.item_three {
    background-color: var(--success-green);
    grid-area: ItemThree;
  }
