.btn{
    
    min-width: 100px;
    width: max-content;
    padding: 0.8rem;
    border-radius: 2px;
    border: none;
}



.primary-btn{
    background-color: var(--primary-color);
    color: white;
}

.secondary-btn{
    background-color: #EBBA57 ;
    color: white;
}

.icon-btn{
    background-color: var(--primary-color);
    color: white;
}

.link{
    background-color: #6F99DE;
    color: white;
    
}

a{
    text-decoration: none;
}

.btn.floating-plus{
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    color: tomato;
}

.btn.floating-direction{
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
}

.btn.floatin-compass{
    border-radius: 50%;
    min-width: 60px;
    height: 60px;   
}