<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/Components/Buttons/buttons.css" />
    <link rel="stylesheet" href="/css/intro.css" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons</title>
  </head>
  <body>
    <!-- NAV -->

    <nav class="nav">
      <div class="left-nav">
        <a href="/index.html">Endless</a>
        <span>v1.0</span>
      </div>
      <div class="right-nav">
        <a href="/Get Started/intro.html">Docs</a>
        <a href="/Components/Avatar/avatar.html">Examples</a>
      </div>
    </nav>
    <div class="doc-content">
      <!-- Side Bar -->
      <div class="side-bar">
        <div class="content-heading">
          <p>Get started</p>
        </div>
        <div class="sub-content">
          <ul class="item-list">
            <li><a href="/Get Started/intro.html">Introduction</a></li>
            <li><a href="/Get Started/colors.html">Colors</a></li>
            <li><a href="/Get Started/typography.html">Typography</a></li>
            <li><a href="/Get Started/typography.html">Conclusion</a></li>
          </ul>
        </div>
        <div class="content-heading">
          <p><b>Components</b></p>
        </div>
        <div class="sub-content">
          <ul class="item-list">
            <li><a href="/Components/Avatar/avatar.html"> Avatar</a></li>
            <li><a href="/Components/Badges/badges.html">Badges</a></li>
            <li><a href="/Components/Alerts/alerts.html">Alerts</a></li>
            <li><a href="/Components/Buttons/buttons.html">Buttons</a></li>
            <li><a href="/Components/Cards/cards.html">Cards</a></li>
            <li><a href="/Components/image/image.html">Images</a></li>
            <li><a href="/Components/Input/input.html">Input</a></li>
            <li><a href="/Components/List/lists.html">List</a></li>
            <li><a href="/Components/Ratings/ratings.html">Ratings</a></li>
            <li><a href="/Components/Snackbar/snackbar.html">Snackbar</a></li>
            <li><a href="/Components/Chips/chips.html">Chips</a></li>
          </ul>
        </div>
      </div>

      <!-- MAIN CONTENT  -->

      <div class="content-bar">
        <div class="content-title">Buttons</div>
        <div class="content-subtitle">
          Buttons are the soul of an interactive Web Application. Buttons allow
          users to take actions, and make choices, with a single tap.
        </div>
        <div class="content-title">Primary & Secondary Button</div>
        <div class="content-subtitle">
          Primary & Secondary are the mostly used types of button. It is a good
          practice to match your primary button color with the logo color. While
          the secondary color could be a complementary of primary color.
        </div>

        <pre>
          <code class="plaintext">
            &lt;button class="btn primary-btn">Primary Button&lt;/button&gt;
            &lt;button class="btn secondary-btn">Secondary Button&lt;/button&gt;
          </code>
        </pre>
        <div class="content-example">
          <button class="btn primary-btn">Primary Button</button>
          <button class="btn secondary-btn">Secondary Button</button>
          <!-- <button class="btn icon-btn"> <i class="fas fa-donate"></i> Donate </button> -->
        </div>
        <div class="content-title">Link Button</div>
        <div class="content-subtitle">
          Link buttons can be used to redirect user to a particular link by
          doing a button click
        </div>

        <pre>
          <code class="plaintext">
            &lt;button class="btn link">Primary Button&lt;/button&gt;
          </code>
        </pre>

        <div class="content-example">
          <button class="btn link"><a href="#">Link Button</a></button>
        </div>

        <div class="content-title">Floating Action Button</div>
        <div class="content-subtitle">
          A floating action button (FAB) represents the primary action of a
          screen. For example - a + icon while writing a mail, direction icon
          while using Google Maps,etc.
        </div>

        <pre>
          <code class="plaintext">
            
            &lt;button class="btn floating-plus"&gt; &lt;i class="fas fa-plus fa-lg"&gt; &lt;/i&gt; &lt;/button&gt;
            &lt;button class="btn floating-direction"&gt; &lt;i class="fas fa-directions fa-2x"&gt; &lt;/i> &lt;/button&gt;
            &lt;button class="btn floatin-compass"&gt; &lt;i class="fas fa-compass fa-2x"&gt; &lt;/i&gt; &lt;/button&gt;
          </code>
        </pre>

        <div class="content-example">
          <button class="btn floating-plus">
            <i class="fas fa-plus fa-lg"></i>
          </button>
          <button class="btn floating-direction">
            <i class="fas fa-directions fa-2x"></i>
          </button>
          <button class="btn floatin-compass">
            <i class="fas fa-compass fa-2x"></i>
          </button>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/fbbd0ff1df.js"
    crossorigin="anonymous"
  ></script>
  <script src="/highlight.js"></script>
  <script>
    hljs.highlightAll();
  </script>
</html>
