.avatar {
  width: 3.125rem;
  height: 3.125rem;
}

.avatar.sm {
  width: 2.5rem;
  height: 2.5rem;
}
.avatar.md {
  width: 3.125rem;
  height: 3.125rem;
}
.avatar.lg {
  width: 3.75rem;
  height: 3.75rem;
}
.avatar.square {
  border-radius: 20%;
}
