<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/intro.css" />
    <link rel="stylesheet" href="/styles/nord.min.css" />

    <link rel="stylesheet" href="/Components/Avatar/avatar.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar</title>
  </head>
  <body>
    <!-- NAV -->

    <nav class="nav">
      <div class="left-nav">
        <a href="/index.html">Endless</a>
        <span>v1.0</span>
      </div>
      <div class="right-nav">
        <a href="/Get Started/intro.html">Docs</a>
        <a href="/Components/Avatar/avatar.html">Examples</a>
      </div>
    </nav>

    <!-- Side Bar -->

    <div class="doc-content">
      <div class="side-bar">
        <div class="content-heading">
          <p>Get started</p>
        </div>
        <div class="sub-content">
          <ul class="item-list">
            <li><a href="/Get Started/intro.html">Introduction</a></li>
            <li><a href="/Get Started/colors.html">Colors</a></li>
            <li><a href="/Get Started/typography.html">Typography</a></li>
            <li><a href="/Get Started/conclusion.html">Conclusion</a></li>
          </ul>
        </div>
        <div class="content-heading">
          <p><b>Components</b></p>
        </div>
        <div class="sub-content">
          <ul class="item-list">
            <li><a href="/Components/Avatar/avatar.html"> Avatar</a></li>
            <li><a href="/Components/Badges/badges.html">Badges</a></li>
            <li><a href="/Components/Alerts/alerts.html">Alerts</a></li>
            <li><a href="/Components/Buttons/buttons.html">Buttons</a></li>
            <li><a href="/Components/Cards/cards.html">Cards</a></li>
            <li><a href="/Components/image/image.html">Images</a></li>
            <li><a href="/Components/Input/input.html">Input</a></li>
            <li><a href="/Components/List/lists.html">List</a></li>
            <li><a href="/Components/Ratings/ratings.html">Ratings</a></li>
            <li><a href="/Components/Snackbar/snackbar.html">Snackbar</a></li>
            <li><a href="/Components/Chips/chips.html">Chips</a></li>
          </ul>
        </div>
      </div>
      <!-- Main Content  -->

      <div class="content-bar">
        <div class="content-title">Avatar</div>
        <div class="content-subtitle">
          Avatars are user profile pictures, usually found in circular shapes.
          Avatars can be used for 'container' objects — projects, spaces,
          repositories, etcetera — to give them a recognisable visual identity.
        </div>

        <div class="content-title">Profile Avatar</div>
        <div class="content-subtitle">
          Profile Avatars can be created using the class 'avatar', inside the
          img tag.
        </div>

        <pre>
          <code class="plaintext">
      <-- Using the 'avatar' class name -->
  
      &lt;img class="avatar" src="attach desired image" alt="avatar1"&gt;
      &lt;img class="avatar" src="attach desired image"&gt;
          </code>
        </pre>
        <div class="content-example">
          <img class="avatar" src="/Images/avatar.png" alt="Avatar" />

          <img class="avatar" src="/Images/avatar_female.png" alt="Avatar" />

          <img class="avatar" src="/Images/avatar3.png" alt="Avatar" />
        </div>
        <div class="content-title">Sizes Avatar</div>
        <div class="content-subtitle">
          Size of the avatars can be changed by adding sm | md | lg class to the
          existing avatar class.
        </div>
        <pre>
          <code class="plaintext">
      <-- Using the 'avatar' class name -->
  
      &lt;img class="avatar sm" src="attach desired image"&gt;
      &lt;img class="avatar md" src="attach desired image"&gt;
      &lt;img class="avatar lg" src="attach desired image"&gt;
          </code>
        </pre>

        <div class="content-example">
          <img class="avatar sm" src="/Images/avatar.png" alt="Avatar" />

          <img class="avatar md" src="/Images/avatar_female.png" alt="Avatar" />

          <img class="avatar lg" src="/Images/avatar3.png" alt="Avatar" />
        </div>
        <div class="content-title">Square Avatar</div>
        <div class="content-subtitle">
          We can build a square shaped avatar as well by adding 'square' class
          along with the desired size i.e sm | md | lg class.
        </div>
        <pre>
          <code class="plaintext">
      <-- Using the 'avatar' class name -->
  
      &lt;img class="avatar square sm" src="attach desired image"&gt;
      &lt;img class="avatar square md" src="attach desired image"&gt;
      &lt;img class="avatar square lg" src="attach desired image"&gt;
          </code>
        </pre>
        <div class="content-example">
          <img
            class="avatar square sm"
            src="/Images/square_img.jpg"
            alt="Avatar"
          />

          <img
            class="avatar square md"
            src="/Images/square_img2.jpg"
            alt="Avatar"
          />

          <img
            class="avatar square lg"
            src="/Images/square_img3.jpg"
            alt="Avatar"
          />
        </div>
      </div>
    </div>
  </body>
  <script src="/highlight.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <script
    src="https://kit.fontawesome.com/fbbd0ff1df.js"
    crossorigin="anonymous"
  ></script>
</html>
