<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/intro.css" />
    <link rel="stylesheet" href="/Components/Ratings/ratings.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings</title>
</head>
<body>
    <!-- NAV -->

    <nav class="nav">
        <div class="left-nav">
          <a href="/index.html">Endless</a>
          <span>v1.0</span>
        </div>
        <div class="right-nav">
          <a href="/Get Started/intro.html">Docs</a>
          <a href="/Components/Avatar/avatar.html">Examples</a>
        </div>
      </nav>

      <div class="doc-content">
        <div class="side-bar">
            <div class="content-heading">
                <p>Get started</p>
            </div>
            <div class="sub-content">
                <ul class="item-list    ">
                    <li><a href="/Get Started/intro.html">Introduction</a></li>
                    <li><a href="/Get Started/typography.html">Typography</a></li>
                </ul>
            </div>
            <div class="content-heading">
                <p><b>Components</b></p>
            </div>
            <div class="sub-content">
                <ul class="item-list">
                  <li> <a href="/Components/Avatar/avatar.html"> Avatar</a></li>
                  <li><a href="/Components/Badges/badges.html">Badges</a></li>
                  <li><a href="/Components/Alerts/alerts.html">Alerts</a></li>
                  <li><a href="/Components/Buttons/buttons.html">Buttons</a></li>
                  <li><a href="/Components/Cards/cards.html">Cards</a></li>
                  <li><a href="/Components/image/image.html">Images</a></li>
                  <li><a href="/Components/Input/input.html">Input</a></li>
                  <li><a href="/Components/List/lists.html">List</a></li>
                  <li><a href="/Components/Ratings/ratings.html">Ratings</a></li>
                  <li><a href="/Components/Snackbar/snackbar.html">Snackbar</a></li>
                  <li><a href="/Components/Chips/chips.html">Chips</a></li>
                  <li><a href="/Components/Grid//grid.html">Grid</a></li>
                  <li><a href="/Components/modal/modal.html">Modal</a></li>
                  <li><a href="/Components/Nav/nav.html">Navigation</a></li>
                </ul>
            </div>
        </div>

        <div class="content-bar">
            <div class="content-title">Ratings</div>
            <div class="content-subtitle">
                Product ratings are shown on product listings, usually appearing as 1 to 5-star. These ratings help with purchase decisions, driving more qualified customers to your product pages.
            </div>
            <pre>
                <code class="plaintext">
                    &lt;div class="rating-stars"&gt;
                    &lt;div class="four-star"&gt;
                            &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                            &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                            &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                            &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                            &lt;i class="far fa-star"&gt;&lt;/i&gt;
                        &lt;/div&gt;
                        &lt;div class="three-star">
                            &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                            &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                            &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                            &lt;i class="far fa-star"&gt;&lt;/i&gt;
                            &lt;i class="far fa-star"&gt;&lt;/i&gt;
                        &lt;/div&gt;
                        &lt;div class="two-star"&gt;
                            &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                            &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                            &lt;i class="far fa-star"&gt;&lt;/i&gt;
                            &lt;i class="far fa-star"&gt;&lt;/i&gt;
                            &lt;i class="far fa-star"&gt;&lt;/i&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                </code>
            </pre>
            <div class="content-example padding">
                <div class="rating-stars">
                    <div class="four-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="three-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="two-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                
                
            </div>
        </div>
      </div>
</body>
<script src="/highlight.js"></script>
  <script>
    hljs.highlightAll();
  </script>
<script src="https://kit.fontawesome.com/56744ae91f.js" crossorigin="anonymous"></script>
</html>