.chips {
  display: flex;
  margin-bottom: 0.625rem;
  width: max-content;
  border-radius: 1rem;
  padding: 0.438rem 0.5rem 0.438rem 0.75rem;
  align-items: center;
  justify-content: space-around;
  gap: 1.813rem;
}

.bg-pink {
  background-color: #ff4081;
}

.bg-gray {
  background-color: #e0e0e0;
}
.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-lemon {
  background-color: #daf7a6;
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-black{
  background-color: var(--black-bg);
  color: var(--white-text-color);
}