<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/Components/Chips/chips.css" />
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/intro.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chips</title>
  </head>
  <body>
    <nav class="nav">
      <div class="left-nav">
        <a href="/index.html">Endless</a>
        <span>v1.0</span>
      </div>
      <div class="right-nav">
        <a href="/Get Started/intro.html">Docs</a>
        <a href="/Components/Avatar/avatar.html">Examples</a>
      </div>
    </nav>
    <div class="doc-content">
      <div class="side-bar">
        <div class="content-heading">
            <p>Get started</p>
        </div>
        <div class="sub-content">
            <ul class="item-list    ">
                <li><a href="/Get Started/intro.html">Introduction</a></li>
                <li><a href="/Get Started/typography.html">Typography</a></li>
            </ul>
        </div>
        <div class="content-heading">
            <p><b>Components</b></p>
        </div>
        <div class="sub-content">
            <ul class="item-list">
              <li> <a href="/Components/Avatar/avatar.html"> Avatar</a></li>
              <li><a href="/Components/Badges/badges.html">Badges</a></li>
              <li><a href="/Components/Alerts/alerts.html">Alerts</a></li>
              <li><a href="/Components/Buttons/buttons.html">Buttons</a></li>
              <li><a href="/Components/Cards/cards.html">Cards</a></li>
              <li><a href="/Components/image/image.html">Images</a></li>
              <li><a href="/Components/Input/input.html">Input</a></li>
              <li><a href="/Components/List/lists.html">List</a></li>
              <li><a href="/Components/Ratings/ratings.html">Ratings</a></li>
              <li><a href="/Components/Snackbar/snackbar.html">Snackbar</a></li>
              <li><a href="/Components/Chips/chips.html">Chips</a></li>
              <li><a href="/Components/Grid//grid.html">Grid</a></li>
              <li><a href="/Components/modal/modal.html">Modal</a></li>
              <li><a href="/Components/Nav/nav.html">Navigation</a></li>
            </ul>
        </div>
    </div>
      <div class="content-bar">
        <div class="content-title">Chips</div>
        <div class="content-subtitle">
          Chips are compact elements that represent an input, attribute, or action. Chips allow users to enter information, make selections, filter content, or trigger actions.
          <br>
          <br>
          We have following set of backgrounds in our component library - use class chips followed by <br> .bg-pink | bg-gray | bg-primary-color | bg-lemon | bg-secondary-color | bg-black
        </div>
        <div class="content-example flex_column padding">
          <div class="chips bg-pink">
            <i class="fab fa-android"></i>
            <b>Android</b>
            <i class="fas fa-times"></i>
          </div>
          <div class="chips bg-gray">
            <i class="fab fa-apple"></i>
            <b>Apple</b>
            <i class="fas fa-times"></i>
          </div>
          <div class="chips bg-primary-color">
            <i class="fab fa-blackberry"></i>
            <b>Blackberry</b>
            <i class="fas fa-times"></i>
          </div>
          <div class="chips bg-lemon">
            <i class="fab fa-windows"></i>
            <b>Microsoft</b>
            <i class="fas fa-times"></i>
          </div>
          <div class="chips bg-secondary-color">
            <i class="fab fa-google"></i>
            <b>Google Pixel</b>
            <i class="fas fa-times"></i>
          </div>
          <div class="chips bg-black">
            <i class="fab fa-google"></i>
            <b>Google Pixel</b>
            <i class="fas fa-times"></i>
          </div>
        </div>
        <pre>
          <code class="plaintext">
          &lt;div class="chips bg-pink"&gt;
              &lt;i class="fab fa-android"&gt;&lt;/i&gt;
              &lt;b&gt;Android&lt;/b&gt;
              &lt;i class="fas fa-times"&gt;&lt;/i&gt;
          &lt;/div&gt;
          </code>
        </pre>
      </div>
    </div>
  </body>
</html>
<script src="https://kit.fontawesome.com/56744ae91f.js" crossorigin="anonymous"></script>
<script src="/highlight.js"></script>
  <script>
    hljs.highlightAll();
  </script>
