.modal {
  display: flex;
  background-color: var(--snackbar-blackbg);
  padding: 1rem;
  width: 40rem;
  height: 4rem;
  justify-content: space-around;
  align-items: center;
  color: var(--white-text-color);
}

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--modal-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.close-modal {
  color: var(--white-text-color);
  font-size: 1.75rem;
  font-weight: bold;
  top: 5px;
}

.close-modal:hover,
.close-modal:focus {
  color: #000000;
  cursor: pointer;
}