<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link rel="stylesheet" href="/css/intro.css" />
    <link rel="stylesheet" href="/Components/modal/modal.css" />
  </head>
  <body>
    <!-- NAV -->

    <nav class="nav">
      <div class="left-nav">
        <a href="/index.html">Endless</a>
        <span>v1.0</span>
      </div>
      <div class="right-nav">
        <a href="/Get Started/intro.html">Docs</a>
        <a href="/Components/Avatar/avatar.html">Examples</a>
      </div>
    </nav>
    <div class="doc-content">
      <div class="side-bar">
        <div class="content-heading">
          <p>Get started</p>
        </div>
        <div class="sub-content">
          <ul class="item-list">
            <li><a href="/Get Started/intro.html">Introduction</a></li>
            <li><a href="/Get Started/typography.html">Typography</a></li>
          </ul>
        </div>
        <div class="content-heading">
          <p><b>Components</b></p>
        </div>
        <div class="sub-content">
          <ul class="item-list">
            <li><a href="/Components/Avatar/avatar.html"> Avatar</a></li>
            <li><a href="/Components/Badges/badges.html">Badges</a></li>
            <li><a href="/Components/Alerts/alerts.html">Alerts</a></li>
            <li><a href="/Components/Buttons/buttons.html">Buttons</a></li>
            <li><a href="/Components/Cards/cards.html">Cards</a></li>
            <li><a href="/Components/image/image.html">Images</a></li>
            <li><a href="/Components/Input/input.html">Input</a></li>
            <li><a href="/Components/List/lists.html">List</a></li>
            <li><a href="/Components/Ratings/ratings.html">Ratings</a></li>
            <li><a href="/Components/Snackbar/snackbar.html">Snackbar</a></li>
            <li><a href="/Components/Chips/chips.html">Chips</a></li>
            <li><a href="/Components/Grid//grid.html">Grid</a></li>
            <li><a href="/Components/modal/modal.html">Modal</a></li>
            <li><a href="/Components/Nav/nav.html">Navigation</a></li>
          </ul>
        </div>
      </div>
      <div class="content-bar">
        <div class="content-title">Modal</div>
        <div class="content-subtitle">
          A modal is a dialog box/popup window that is displayed on top of the
          current page:
        </div>
        <div class="content-example padding">
          <div class="modal-bg">
            <div class="modal">
              <span>This is modal. Add any text here</span>
              <span class="close-modal">&times;</span>
            </div>
          </div>
          <div class="modal">
            <span>This is modal. Add any text here</span>
            <span class="close-modal">&times;</span>
          </div>
          <button class="btn-modal btn primary-btn">Live Demo</button>
        </div>
        <pre>
            <code class="plaintext">
            &lt;div class="modal-bg"&gt;
                &lt;div class="modal"&gt;
                  &lt;span&gt;This is modal. Add any text here&lt;/span&gt;
                  &lt;span class="close-modal"&gt;&times;&lt;/span&gt;
                &lt;/div&gt;
                &lt;button class="btn-modal btn primary-btn"&gt;Modal&lt;/button&gt;
            &lt;/div&gt;
            </code>
        </pre>
        <pre>
          <code class="plaintext">
            Add the below code in your JS file
            
            const modalBg = document.querySelector(".modal-bg");
            const btnModal = document.querySelector(".btn-modal");
            const closeModal = document.querySelector(".close-modal");

              btnModal.addEventListener("click", function modalHandler(){
                  modalBg.classList.add("bg-active");
              })

                window.onclick = function(event){
                    if(event.target === modalBg ){
                        modalBg.classList.remove("bg-active")
                    }
                }

                  closeModal.addEventListener("click", function closeModalHandler(){
                      console.log("clicked");
                      modalBg.classList.remove("bg-active")
              })


          </code>
        </pre>
      </div>
    </div>
  </body>
</html>
<script src="/Components/modal/modal.js"></script>
<script src="/highlight.js"></script>
<script>
  hljs.highlightAll();
</script>
