<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/intro.css" />
    <link rel="stylesheet" href="/styles/nord.min.css" />

    <link
      rel="stylesheet"
      href="/Components/Avatar_and_badges/avatar_badges.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- NAV -->

    <nav class="nav">
      <div class="left-nav">
        <a href="/index.html">Endless</a>
        <span>v1.0</span>
      </div>
      <div class="right-nav">
        <a href="">Docs</a>
        <a href="">Examples</a>
      </div>
    </nav>

    <!-- Side Bar -->
    <div class="side-bar">
      <div class="content-heading">
        <p>Get started</p>
      </div>
      <div class="sub-content">
        <ul class="item-list">
          <li>Introduction</li>
          <li>Colors</li>
          <li>Typography</li>
          <li>Conclusion</li>
        </ul>
      </div>
      <div class="content-heading">
        <p><b>Components</b></p>
      </div>
      <div class="sub-content">
        <ul class="item-list">
          <li>
            <a href="/Components/Avatar_and_badges/avatar_badges.html"></a>
            Avatar & Badges
          </li>
          <li> <a href="/Components/Alerts_and_buttons/alerts.html"> Alerts </a> </li>
          <li>Typography</li>
          <li>Conclusion</li>
          <li>Lorem</li>
          <li>Ipsum</li>
          <li>Lorem</li>
          <li>Ipsem</li>
        </ul>
      </div>
    </div>
    <!-- Main Content  -->

    <div class="content-bar">
      <div class="content-title">Avatar</div>
      <div class="content-subtitle">
        Avatars are user profile pictures, usually found in circular shapes.
        Avatars can be used for 'container' objects — projects, spaces,
        repositories, etcetera — to give them a recognisable visual identity.
      </div>

      <div class="content-title">Profile Avatar</div>
      <div class="content-subtitle">
        Profile Avatars can be created using the class 'avatar', inside the img
        tag.
      </div>

      <pre>
        <code class="plaintext">
    <-- Using the 'avatar' class name -->

    &lt;img class="avatar" src="attach desired image" alt="avatar1"&gt;
    &lt;img class="avatar" src="attach desired image"&gt;
        </code>
      </pre>
      <div class="content-example">
        <img class="avatar" src="/Images/avatar.png" alt="Avatar" />

        <img class="avatar" src="/Images/avatar_female.png" alt="Avatar" />

        <img class="avatar" src="/Images/avatar3.png" alt="Avatar" />
      </div>
      <div class="content-title">Sizes Avatar</div>
      <div class="content-subtitle">
        Size of the avatars can be changed by adding sm | md | lg class to the
        existing avatar class.
      </div>
      <pre>
        <code class="plaintext">
    <-- Using the 'avatar' class name -->

    &lt;img class="avatar sm" src="attach desired image"&gt;
    &lt;img class="avatar md" src="attach desired image"&gt;
    &lt;img class="avatar lg" src="attach desired image"&gt;
        </code>
      </pre>

      <div class="content-example">
        <img class="avatar sm" src="/Images/avatar.png" alt="Avatar" />

        <img class="avatar md" src="/Images/avatar_female.png" alt="Avatar" />

        <img class="avatar lg" src="/Images/avatar3.png" alt="Avatar" />
      </div>
      <div class="content-title">Square Avatar</div>
      <div class="content-subtitle">
        We can build a square shaped avatar as well by adding 'square' class
        along with the desired size i.e sm | md | lg class.
      </div>
      <pre>
        <code class="plaintext">
    <-- Using the 'avatar' class name -->

    &lt;img class="avatar square sm" src="attach desired image"&gt;
    &lt;img class="avatar square md" src="attach desired image"&gt;
    &lt;img class="avatar square lg" src="attach desired image"&gt;
        </code>
      </pre>
      <div class="content-example">
        <img
          class="avatar square sm"
          src="/Images/square_img.jpg"
          alt="Avatar"
        />

        <img
          class="avatar square md"
          src="/Images/square_img2.jpg"
          alt="Avatar"
        />

        <img
          class="avatar square lg"
          src="/Images/square_img3.jpg"
          alt="Avatar"
        />
      </div>
      <div class="content-title">Badges</div>
      <div class="content-subtitle">
        Badges are small circles, positioned either at top-right, top-left or
        bottom-right of the parent component. Badge can be used to display
        numbers, online / offline status, depending on where they are used.
      </div>
      <div class="content-title">Text with a Badge</div>
      <div class="content-subtitle"></div>

      <pre>
        <code class="plaintext">
    <-- Text with a badge -->

    &lt;div class="badge_type" &gt &lt;p&gt;Text with a badge &lt;/p&gt;
    &lt;span class="badge_number type1"&gt; 2 &lt;/span&gt; /&gt;

    <-- Text with a large badge -->

    &lt;div class="badge_type" &gt &lt;p&gt;Text with a large badge &lt;/p&gt; 
    &lt;span class="badge_number type2"&gt; 2 &lt;/span&gt; /&gt;
        </code>
      </pre>

      <div class="content-example">
        <div class="badges">
          <div class="badge_type">
            <p>Text with a badge</p>
            <span class="badge_number type1">2</span>
          </div>

          <div class="badge_type">
            <p>Text with a large badge</p>
            <div class="badge_number type2">
              <span>2</span>
            </div>
          </div>
        </div>
      </div>

      <div class="content-title">Badge on Icons</div>
      <div class="content-subtitle">
        You can apply badges on icons as well. Just add the below script tag to
        get the font awesome fonts.
      </div>

      <pre>
        <code class="plaintext">
    <-- Insert the following in your script to get font-awesome fonts  -->

     &lt;script src="https://kit.fontawesome.com/fbbd0ff1df.js" crossorigin="anonymous" &gt;&lt;/script&gt; 

    <-- Badge on Icons 1 -->

    &lt;div class="badge_type" &gt; &lt;i class="fas fa-home fa-3x"&gt; &lt;/i&gt;
    &lt;span class="badge_number type3"&gt; 3 &lt;/span&gt; &lt;/div&gt;

    <-- Text on Icons 2 -->

    &lt;div class="badge_type" &gt; &lt;i class="fas fa-envelope fa-3x"&gt; &lt;/i&gt;
    &lt;span class="badge_number type4"&gt; 3 &lt;/span&gt; &lt;/div&gt;
        </code>
      </pre>

      <div class="content-example">
        <div class="badges flex_column">
          <div class="badge_type">
            <i class="fas fa-home fa-3x"></i>
            <span class="badge_number type3">3</span>
          </div>

          <div class="badge_type">
            <i class="fas fa-envelope fa-3x"></i>
            <span class="badge_number type4">3</span>
          </div>
          <div class="badge_type">
            <i class="fas fa-comment-alt fa-3x"></i>
            <span class="badge_number type5">3</span>
          </div>
        </div>
      </div>

      <div class="content-title">Badge on Avatars</div>
      <div class="content-subtitle">
        Badges on avatars can be used to show the current status of a user. For example we have three class variants : available | offline | busy. Below is the example of available class, to access other status, replace it with the desired status.
      </div>

      <pre>
        <code class="plaintext">
          &lt;div class="badge_type" &gt; &lt;img class="avatar lg" src="attach desired image"&gt; 
          &lt;span class="badge_number available"&gt; 3 &lt;/span&gt; &lt;/div&gt;
        </code>
      </pre>

      <div class="content-example">
        <div class="badges flex_column">
          <div class="badge_type">
            <img class="avatar lg" src="/Images/avatar.png" alt="Avatar"/>
            <span class="badge_number available"> </span>
          </div>
          
        <div class="badge_type">
          <img class="avatar lg" src="/Images/avatar_female.png" alt="Avatar" />
          <span class="badge_number offline"></span>
        </div>
        
        <div class="badge_type">
          <img class="avatar lg" src="/Images/avatar3.png" alt="Avatar" />
          <span class="badge_number busy"></span>
        </div>
        
        </div>
      </div>


    </div>
  </body>
  <script src="/highlight.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <script
    src="https://kit.fontawesome.com/fbbd0ff1df.js"
    crossorigin="anonymous"
  ></script>
</html>
