<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation</title>

    <link rel="stylesheet" href="/css/intro.css" />
    <link rel="stylesheet" href="/Components/Nav/nav.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="left-nav">
        <a href="/index.html">Endless</a>
        <span>v1.0</span>
      </div>
      <div class="right-nav">
        <a href="/Get Started/intro.html">Docs</a>
        <a href="/Components/Avatar/avatar.html">Examples</a>
      </div>
    </nav>
    <div class="doc-content">
      <div class="side-bar">
        <div class="content-heading">
          <p>Get started</p>
        </div>
        <div class="sub-content">
          <ul class="item-list">
            <li><a href="/Get Started/intro.html">Introduction</a></li>
            <li><a href="/Get Started/colors.html">Colors</a></li>
            <li><a href="/Get Started/typography.html">Typography</a></li>
            <li><a href="/Get Started/conclusion.html">Conclusion</a></li>
          </ul>
        </div>
        <div class="content-heading">
          <p><b>Components</b></p>
        </div>
        <div class="sub-content">
          <ul class="item-list">
            <li><a href="/Components/Avatar/avatar.html"> Avatar</a></li>
            <li><a href="/Components/Badges/badges.html">Badges</a></li>
            <li><a href="/Components/Alerts/alerts.html">Alerts</a></li>
            <li><a href="/Components/Buttons/buttons.html">Buttons</a></li>
            <li><a href="/Components/Cards/cards.html">Cards</a></li>
            <li><a href="/Components/image/image.html">Images</a></li>
            <li><a href="/Components/Input/input.html">Input</a></li>
            <li><a href="/Components/List/lists.html">List</a></li>
            <li><a href="/Components/Ratings/ratings.html">Ratings</a></li>
            <li><a href="/Components/Snackbar/snackbar.html">Snackbar</a></li>
            <li><a href="/Components/Chips/chips.html">Chips</a></li>
            <li><a href="/Components/Nav/nav.html">Navigation Bar</a></li>
          </ul>
        </div>
      </div>
      <div class="content-bar">
        <div class="content-title">Navigation Bar</div>
        <div class="content-subtitle border_to_content">
          Having easy-to-use navigation is important for any web site. With CSS
          you can transform boring HTML menus into good-looking navigation bars.
        </div>
        <pre>
            <code class="plaintext">
            &lt;nav&gt;
              &lt;div class="nav-bar"&gt;
                &lt;div class="left-navbar"&gt;
                  &lt;h2&gt;&lt;a href="/"&gt; Title &lt;/a&gt;&lt;/h2&gt;
                &lt;/div&gt;
                &lt;div class="search-bar flex_r padding"&gt;
                  &lt;input
                    type="search"
                    placeholder="Search for products, brands & more"
                  /&gt;
                &lt;/div&gt;
                &lt;div class="right-navbar"&gt;
                  &lt;a href="/"&gt;Login&lt;/a&gt;
                  &lt;a href="/"&gt;Signup&lt;/a&gt;
                  &lt;a href="/"&gt;Explore&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/nav&gt;
            </code>
        </pre>
        <div class="content-example">
          <nav>
            <div class="nav-bar">
              <div class="left-navbar">
                <h2><a href="/"> Title </a></h2>
              </div>
              <div class="search-bar flex_r padding">
                <input
                  type="search"
                  placeholder="Search for products, brands & more"
                />
              </div>
              <div class="right-navbar">
                <a href="/">Login</a>
                <a href="/">Signup</a>
                <a href="/">Explore</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="/highlight.js"></script>
<script>
  hljs.highlightAll();
</script>
